.portfolio {
  text-align: center;

  background-color: #05141E;
}

main {
  width: 80%;
  margin: auto;
}

hr {
  margin: 0;
  border-color: #3185FC;
}

.portfolio-header {
  background-color: #05141E;

  display: flex;
  justify-content: center;
  font-size: 1.25rem;

  border-bottom: 0.125rem solid #3185FC;
}

.portfolio-header nav {
  display: flex;
}

.portfolio-header nav .mobile {
  position: absolute;
  top: .9rem;
  right: 1rem;
  flex-direction: column;

}

.portfolio-header nav .mobile svg {
  display: none;
  height: 2rem;
  width: 2rem;

  color: #ffffff;
}

.portfolio-header nav ul {
  display: flex;
  list-style: none;

  padding: 0;
}

.portfolio-header nav ul li a {
  text-decoration: none;
  color: #ffffff;

  background: linear-gradient(to top, #05141E 0%, #05141E 50%, #3185FC 50%, #3185FC 100%);
  background-size: 100% 200%;
  background-position: 0 -100%;
  transition: background-position 0.3s;
  padding: 1.25rem 1.25rem;
}

.portfolio-header nav ul li a:hover {
  background-position: 0 0;
  border-bottom: 0.125rem solid #ffffff;
}

.inicio {
  padding: 4.688rem 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.inicio a {
  text-decoration: none;
}

.inicio .containerImagem img {
  height: 16.25rem;
  width: 16.25rem;

  display: flex;
  align-items: center;

  margin-right: 3rem;

  border-radius: 8.625rem;
  border: 0.125rem solid #3185FC;
}

.inicio .containerApresentacao {
  margin: auto 0;

  text-align: left;
}

.inicio .containerApresentacao h1 {
  font-size: 2rem;
  color: #ffffff;
  font-weight: 500;
  line-height: 2.188rem;

  margin: 0;
}

.inicio .containerApresentacao h1 span {
  color: #3185FC;
}

.inicio .containerApresentacao h2 {
  font-size: 1.25rem;
  color: #B1BDCE;
  font-weight: 500;

  margin: 0.875rem 0;
}

.inicio .containerApresentacao a button {
  width: 8.875rem;
  height: 2.375rem;
  border-radius: 0.75rem;

  font-family: 'Inter';
  font-weight: 500;
  font-size: 1rem;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #023C8D;
  color: #ffffff;

  border: 0;
  transition: all 0.2s;
}

.inicio .containerApresentacao a button:hover {
  color: #023C8D;
  background-color: #ffffff;

  cursor: pointer;
}

.inicio .containerApresentacao a button svg {
  height: 1.25rem;
  margin-right: 0.5rem;
}

.inicio .containerContato {
  display: flex;
  justify-content: end;
}

.inicio .containerContato ul {
  margin: auto 0;
  padding: 0;

  text-align: start;
  list-style: none;
}

.inicio .containerContato ul li a {
  display: flex;
  align-items: center;

  font-size: 1rem;
  color: #B1BDCE;

  transition: all 0.2s;
}

.inicio .containerContato ul li a:hover {
  color: #ffffff;
}

.inicio .containerContato ul li a img,
.inicio .containerContato ul li a svg {
  width: 1.5rem;
  height: 1.5rem;

  margin: 0.313rem 0.438rem;
  color: #3185FC;
}

.secao {
  margin-top: 2.813rem;
  margin-bottom: 4.688rem;
}

section h1 {
  font-size: 2rem;
  font-weight: 700;

  margin-bottom: 2.5rem;

  color: #ffffff;
}

.sobre p {
  font-size: 1rem;
  line-height: 22px;
  margin: 0;
  color: #B1BDCE;
}

.frontend {
  grid-area: frontend;
}

.backend {
  grid-area: backend;
}

.ferramentas {
  grid-area: ferramentas;
}

.metodologias {
  grid-area: metodologias;
}

.containerHabilidades {
  display: grid;
  grid-template-columns: 29rem 29rem;
  grid-template-areas:
    "frontend backend"
    "ferramentas backend"
    "ferramentas metodologias";

  gap: 1.80rem;

  justify-content: center;
  margin-top: 50px;
}

.secaoHabilidades {
  padding: 1rem;

  display: flex;

  border-radius: 1.75rem;
  border: 1px solid #3185FC;
}

.secaoHabilidades legend {
  font-size: 2rem;
  color: #fff;

  text-align: left;

  margin-left: 1.5rem;
  padding: 0 0.5rem;
}

.secaoHabilidades ul {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  list-style: none;

  padding: 0;
  margin: 0 auto;
}

.secaoHabilidades ul li {
  display: flex;
  flex-direction: column;
  align-items: center;

  height: 76px;

  font-size: 1.25rem;
  color: #fff;

  margin: 0.813rem;
}

.secaoHabilidades ul li img,
.secaoHabilidades ul li svg {
  margin-bottom: 5px;
}

.metodologias {
  display: block;
}

.metodologias ul {
  justify-content: start;
}

.containerExperiencia {
  display: flex;
  justify-content: center;
}

.cardExperiencia {
  width: 25.125rem;
  padding: 1.5rem;
  margin: 1.75rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  text-align: left;

  border: 1px solid #3185FC;
  border-radius: 1.75rem;
}

.cardExperiencia .data {
  background-color: #023C8D;

  font-size: 1rem;
  font-weight: 700;
  color: #ffffff;

  padding: 0.25rem 0.375rem;
  border-radius: 0.375rem;
}

.cardExperiencia img {
  height: 3.25rem;

  margin: 0.625rem 0;
}

.cardExperiencia strong {
  font-size: 1rem;
  color: #3185FC;
  font-weight: 600;
  padding-bottom: 2.2rem;
}

.cardExperiencia p {
  font-size: 1rem;
  font-weight: 400;
  color: #ffffff;

  margin: 0;
  margin-top: 0.75rem;
}

.cardExperiencia p span {
  font-weight: 500;
  color: #3185FC;
}

.containerProjetos {
  display: grid;
  grid-template-columns: repeat(auto-fit, max(21.875rem));
  grid-gap: 2.25rem;

  justify-items: center;
  justify-content: center;
}

.containerProjetos div {
  position: relative;
  height: 10.975rem;
  width: 21.875rem;

  background: linear-gradient(to top, rgba(233, 233, 233, 0.1) 0%, rgba(233, 233, 233, 0.1) 50%, rgba(255, 255, 255, 0.4) 100%);
  background-repeat: no-repeat;
  background-size: 100% 200%;
  cursor: pointer;
  transition: all 0.4s;
  border-radius: 1.688rem 0px;
  border: 1px solid #3185FC;
}

.containerProjetos div .imagemProjeto {
  position: absolute;
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;
  mix-blend-mode: overlay;
}

.containerProjetos h2 {
  position: absolute;
  top: 6.9rem;
  left: 1rem;
  color: #ffffff;
  font-weight: 600;
}

.containerProjetos div:hover {
  height: 11.475rem;
  width: 22.375rem;

  margin-bottom: -.5rem;

  background-position: 100% 100%;
}

.cardProjeto .verDetalhes {
  display: none;
}

.cardProjeto:hover .nomeProjeto {
  display: none;
}

.cardProjeto:hover .verDetalhes {
  display: inline;
}

.secao .containerContato ul li a img,
.secao .containerContato ul li a svg {
  width: 3.125rem;
  height: 3.125rem;

  margin: 0.313rem 0.438rem;
  color: #3185FC;
}

.secao .containerContato ul {
  display: flex;
  justify-content: center;
  list-style: none;

  padding: 0;
}

.secao .containerContato ul li a {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1.563rem;

  color: #B1BDCE;
  font-weight: 500;
  font-size: 1.125rem;

  text-decoration: none;
  transition: all 0.3s;
}

.secao .containerContato ul li a span {
  color: #3185FC;
  font-size: 1.25rem;
  margin-top: .3rem;
}

.secao .containerContato ul li a:hover {
  transform: scale(1.1);
  color: #ffffff;
}

footer {
  padding: 2rem 0;
}

footer p {
  color: #ffffff;
  font-size: 1rem;
  font-weight: 400;
  margin: 0;
}

@media only screen and (max-width: 1024px) {
  .inicio {
    padding: 4.688rem 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .inicio .containerApresentacao {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  .inicio .containerContato {
    margin-top: 2.813rem;
    justify-content: left;
  }

  .containerHabilidades {
    grid-template-columns: 29rem;
    grid-template-areas:
      "frontend"
      "backend"
      "backend"
      "ferramentas"
      "ferramentas"
      "metodologias";

    gap: 1.80rem;

    justify-content: center;
    margin-top: 50px;
  }

  .containerExperiencia {
    flex-direction: column;
    align-items: center;
  }
}

@media only screen and (max-width: 700px) {
  .portfolio-header {
    height: 3.75rem;

    justify-content: end;
  }

  .portfolio-header nav {
    flex-direction: column;
    align-items: start;
  }

  .portfolio-header nav ul {
    display: none;
    width: 100vw;
    position: relative;
    flex-direction: column;
    margin: 0;
    margin-top: 3.75rem;
  }

  .portfolio-header nav ul.open {
    display: flex;
  }

  .portfolio-header nav ul li {
    height: 3.75rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .portfolio-header nav ul li a {
    width: 100vw;
  }
  
  .portfolio-header nav .mobile #abrir {
    display: flex;
  }

  .portfolio-header nav .mobile #fechar {
    display: none;
  }

  .inicio {
    padding: 4.688rem 0;
    display: grid;
    grid-template-columns: 1fr;

    justify-items: center;
  }

  .inicio .containerImagem {
    width: 16.25rem;
  }

  .inicio .containerImagem img {
    height: 15.4rem;
    width: 15.4rem;
    margin: 0;
  }

  .inicio .containerApresentacao {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding-top: 2rem;
  }

  .containerHabilidades {
    grid-template-columns: 1fr;
  }

  .secaoHabilidades ul {
    justify-content: space-around;
  }

  .cardExperiencia {
    width: 13rem;
  }

  .containerProjetos .cardProjeto {
    height: 8rem;
    width: 16rem;
  }

  .containerProjetos div:hover {
    height: 9rem;
    width: 19rem;

    margin-bottom: -1rem;
  }

  .containerProjetos h2 {
    top: 4rem;
  }

  .cardProjeto:hover h2 {
    top: 2.3rem;
  }

  .secao .containerContato ul {
    flex-direction: column;
  }
}